@charset "UTF-8";

/* 共通ここから */
:root {
  --color-black:#333333;
  --color-white:#FFFFFF;
  --color-purple:#AF52DE;
  --color-gray:#ADADAD;
}

*, *::before, *::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  width: 100%;
  font-size: 100%;
}

a {
  text-decoration:none;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

.noto-sans-jp {
  font-family: "Noto Sans JP", sans-serif;
  font-style: normal;
}
/* 共通ここまで */

/* #header ここから */
#header {
  position: sticky;
  top: 0;
  z-index: 999;
  background-color: var(--color-white);
  .header__container {
    width: calc(100% - 1.875rem);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-top: 1.9375rem;
    height: 6.25rem;
  }
  .header__logo-link {
    cursor: pointer;
    transition: all .3s ease-out;
    .sp_only.header__logo {
      display: inline-block;
      vertical-align: top;
      width: 10.4375rem;
      height: 2.375rem;
    }
    .pc_only.header__logo {
      display: none;
    }
  }
  .header__logo-link:hover {
    opacity: .7;
  }

  .sp_only.header__hamburger-menu {
    cursor: pointer;
    display: inline-block;
    width: 3.75rem;
    height: 2rem;
    font-size: 0.875rem;
    line-height: 1.6;
    font-weight: 400;
    border: var(--color-black) solid 1px;
    border-radius: 5px;
    margin-top: 0.1875rem;
    margin-right: 0.1875rem;
  }
  .header__nav {
    width: 100%;
    height: calc(100vh - 6.25rem);
    background-color: rgba(255, 255, 255, .8);
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .header__nav {
    display: none;
  }
  .header__nav.open {
    display: block;
  }
  .header__nav li a {
    cursor: pointer;
  }
  .header__nav li a.header__link-service, .header__nav li a.header__link-works, .header__nav li a.header__link-about {
    font-size: 2rem;
    color: var(--color-black);
    line-height: 1.6;
    font-weight: 400;
  }
  .header__nav li {
    padding-top: 1.875rem;
  }
  .header__nav li:last-child {
    padding-top: 2.5rem;
  }
  .header__nav li a.header__link-contact {
    width: 10.125rem;
    height: 3.0625rem;
    padding: 0.625rem 3rem;
    border-radius: 10px;
    background: linear-gradient(88deg, #EA42B1 0.69%, #E43232 54.49%, #EB8160 94.59%);
    color: var(--color-white);
    font-size: 1.125rem;
    line-height: 1.6;
    font-weight: 400;
  }
}

@media (min-width:1025px) {
  #header {
    position: sticky;
    top: 0;
    z-index: 999;
    background-color: var(--color-white);
    .header__wrapper {
      width: calc(100% - 5rem);
      height: 6.25rem;
      max-width: 1360px;
      margin: 0 auto;
      .header__container {
        width: 100%;
        margin: 0 auto;
        display: inline-block;
        padding-top: 1.9375rem;
        height: 6.25rem;
        .header__logo-link {
          cursor: pointer;
          transition: all .3s ease-out;
          .sp_only.header__logo {
            display: none;
          }
          .pc_only.header__logo {
            display: inline-block;
            vertical-align: top;
            width: 10.4375rem;
            height: 2.375rem;
          }
        }
        .header__logo-link:hover {
          opacity: .7;
        }
        .sp_only.header__hamburger-menu {
          display: none;
        }
      }
      .header__nav {
        width: 28.5rem;
        height: 100%;
        margin: 0;
        background-color: var(--color-white);
        display: block;
        margin-top: -6.25rem;
        margin-left: auto;
        margin-right: 0;
      }
      .header__nav.open {
        display: block;
      }
      .header__nav ul {
        display: flex;
      }
      .header__nav li a {
        cursor: pointer;
      }
      .header__nav li a.header__link-service, .header__nav li a.header__link-works, .header__nav li a.header__link-about {
        font-size: 1.125rem;
        color: var(--color-black);
        line-height: 1.6;
        font-weight: 400;
      }
      .header__nav li {
        padding-top: 0;
      }
      .header__nav li:nth-child(2), .header__nav li:nth-child(3){
        margin-left: 2.5rem;
      }
      .header__nav li:not(:last-child) {
        padding-top: 2.1875rem;
      }
      .header__nav li:last-child {
        padding-top: 2.1875rem;
        margin-left: 3.125rem;
      }
      .header__nav li a.header__link-contact {
        width: 10.125rem;
        height: 3.0625rem;
        padding: 0.625rem 3rem;
        border-radius: 10px;
        background: linear-gradient(88deg, #EA42B1 0.69%, #E43232 54.49%, #EB8160 94.59%);
        color: var(--color-white);
        font-size: 1.125rem;
        line-height: 1.6;
        font-weight: 400;
      }
    }
  }
}

@media (min-width:768px) and (max-width:1024.9px) {
  #header {
    position: sticky;
    top: 0;
    z-index: 999;
    background-color: var(--color-white);
    .header__wrapper {
      width: calc(100% - 5rem);
      height: 6.25rem;
      margin: 0 auto;
      .header__container {
        width: 100%;
        margin: 0 auto;
        display: inline-block;
        padding-top: 1.9375rem;
        height: 6.25rem;
        .header__logo-link {
          cursor: pointer;
          transition: all .3s ease-out;
          .sp_only.header__logo {
            display: none;
          }
          .pc_only.header__logo {
            display: inline-block;
            vertical-align: top;
            width: 10.4375rem;
            height: 2.375rem;
          }
        }
        .header__logo-link:hover {
          opacity: .7;
        }
        .sp_only.header__hamburger-menu {
          display: none;
        }
      }
      .header__nav {
        width: 28.5rem;
        height: 100%;
        margin: 0;
        background-color: var(--color-white);
        display: block;
        margin-top: -6.25rem;
        margin-left: auto;
        margin-right: 0;
      }
      .header__nav.open {
        display: block;
      }
      .header__nav ul {
        display: flex;
      }
      .header__nav li a {
        cursor: pointer;
      }
      .header__nav li a.header__link-service, .header__nav li a.header__link-works, .header__nav li a.header__link-about {
        font-size: 1.125rem;
        color: var(--color-black);
        line-height: 1.6;
        font-weight: 400;
      }
      .header__nav li {
        padding-top: 0;
      }
      .header__nav li:nth-child(2), .header__nav li:nth-child(3){
        margin-left: 2.5rem;
      }
      .header__nav li:not(:last-child) {
        padding-top: 2.1875rem;
      }
      .header__nav li:last-child {
        padding-top: 2.1875rem;
        margin-left: 3.125rem;
      }
      .header__nav li a.header__link-contact {
        width: 10.125rem;
        height: 3.0625rem;
        padding: 0.625rem 3rem;
        border-radius: 10px;
        background: linear-gradient(88deg, #EA42B1 0.69%, #E43232 54.49%, #EB8160 94.59%);
        color: var(--color-white);
        font-size: 1.125rem;
        line-height: 1.6;
        font-weight: 400;
      }
    }
  }
}
/* #header ここまで */